*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #EEEEEE;
}
.class-header> img {  
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    margin-left: 26px;
    width: 250px;
    position: relative;
    top: 43px;
  }
  a.nav-link{
      color: #000;
  }
  #header{
     background: #EEEEEE;
    width: 100%;
    margin-top: -86px;
    position: fixed;
  }
 
  .title{
      margin-top: 74px;
  }
  h2.heading{
      font-size: 1.3rem;
  }
  input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
    font-weight: bold;
    font-size: 1rem;
  }
  #email{
    height: 30px;
    width: 360px;
    padding-left: 15px;
}
.grid {
    display: flex;
}
#Features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}  
#Features h2{
    font-size: 1.3rem;
}
p.info{
    margin-right: 161px;
}
#Features{
    margin-top: 80px;
}
#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
.product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
.product > h2 {
    margin-top: 15px;
}
.product > ol {
    margin: 15px 0;
    list-style: none;
}
section#Pricing.container{
    display: flex;
    margin-top: 60px;
}
button.btn{
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}
ol.list-item{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 218px;
    margin-left: 705px;
    margin-top: 26px;
    font-size: 13px;
    padding: 6px;
}
p.text{
    margin-left: 705px; 
    font-size: 13px; 
}
#footer{
    background:#ddd ;
    width: 85%;
    margin-left: 80px;
    height: 77px;
}

@media screen and (max-width: 600px){
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    display: grid;
    text-align: center;
    margin-left: 155px;
    margin-top: 24px;
}
.class-header> img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    margin-left: 66px;
    width: 250px;
    position: relative;
    top: 32px;
}
#email{
    height: 30px;
    width: 360px;
    padding-left: 15px;
    margin-top: 0%;
}
h2.heading{
    font-size: 1.3rem;
    margin-top: 50%;
}
#header {
    background: #EEEEEE;
    width: 100%;
    margin-top: -232px;
    position: fixed;
}
#footer{
    width: 92%;
    margin-left: 17px;
}
p.text{
    margin-left: 232px; 
    font-size: 10px; 
    display: flex;
}
ol.list-item{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 218px;
    margin-left: 200px;
    margin-top: 26px;
    font-size: 10px;
    padding: 6px;
}

}
@media (min-width:600px) and (max-width:768px) {
    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;
        display: grid;
        text-align: center;
        margin-left: 227px;
        margin-top: 38px;
    }
    .class-header> img {
        width: 100%;
        height: 100%;
        max-width: 300px;
        display: flex;
        margin-left: 146px;
        width: 250px;
        position: relative;
        top: 43px;
    }
    #email{
        height: 30px;
        width: 360px;
        padding-left: 15px;
        margin-top: 0%;
    }
    h2.heading{
        font-size: 1.3rem;
        margin-top: 50%;
    }
    #header {
        background: #EEEEEE;
        width: 100%;
        margin-top: -270px;
        position: fixed;
    }
    #footer{
        width: 92%;
        margin-left: 17px;
    }
    p.text{
        margin-left: 232px; 
        font-size: 10px; 
        display: flex;
    }
    ol.list-item{
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 218px;
        margin-left: 200px;
        margin-top: 26px;
        font-size: 10px;
        padding: 6px;
    }
}
